body{
    height: 100vh;
    display: flex;
    position: relative;
}

#games{
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    width: 300px;
    height: 300px;

}

.field{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    box-sizing: border-box;
    font-size: 34px;
    justify-content: center;
    text-align: center;
}
.modal{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: white;
    display: none;
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    
}

#closeWin{
    cursor: pointer;
    background-color: green;
    padding: 10px 60px;
    color: white;
    text-decoration: none;
    border-style: none;
    margin-top: 96px;
}